<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TC.Resources.Fonts.LIB.Properties.Settings.TC_Fonts_ConnectionString"
            connectionString="Data Source=CLIENT_Server;Initial Catalog=FontsDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>